@import "../../assets/styles/variables.scss";
@import "../../assets/styles/typography.scss";

.form-container {
  background-color: $primary-color;
  height: 100vh;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    > input {
      border: none;
      border-bottom: 2px solid #1d3557;
      background-color: $primary-color;
    }

    > button {
      color: $secondary-color;
      border: 1px solid $tertiary-color;
      border-radius: 8px;
      padding: 8px;
      width: 6rem;
      text-align: center;
      background-color: $tertiary-color;
      margin: 10px;
    }
  }

  h1 {
    text-align: center;
    margin: 0;
    padding: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .form-container {
    &__form {
      gap: 2rem;
    }

    h1 {
      padding: 4rem;
    }
  }

  input {
    min-width: 20rem;
  }

  button {
    min-width: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .form-container {
    &__form {
      gap: 3rem;
    }

    h1 {
      padding: 6rem;
    }
  }

  input {
    min-width: 30rem;
  }

  button {
    min-width: 8rem;
  }
}

