@import "../../assets/styles/variables.scss";
@import "../../assets/styles/typography.scss";

.singleCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #457b9d;
    border-radius: 10px;
    padding: 1rem;
    min-width: 13rem;
    height: fit-content;
    

    > .singleCard__item {
      color: $secondary-color;
      text-decoration: none;
      list-style: none;
    }
  }

  @media screen and (min-width: 768px) {
    .singleCard {
      max-width: 25rem;
      padding: 2rem;
    }
  }