@import "../../assets/styles/variables.scss";
@import "../../assets/styles/typography.scss";

.home {
    background-color: $primary-color;
    height: 100vh;

    

    &__title {
        margin: 0;
        text-align: center;
        padding-top: 2rem;
        color: #1d3557;
    }
}