@import "../../assets/styles/variables.scss";

.navbar {
    background-color: $tertiary-color;
    display: flex;
    justify-content: space-around;
    padding: 1rem;

    &__link {
        text-decoration: none;
        color: black;
        border: 1px solid $secondary-color;
        border-radius: 8px;
        padding: 8px;
        width: 5rem;
        text-align: center;
        background-color: $secondary-color;

        &:hover {
            color: $secondary-color;
            background-color: #1d3557;
            border-color: #1d3557;
        }
    }
}