@import "../../assets/styles/variables.scss";
@import "../../assets/styles/typography.scss";

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #457b9d;
    border-radius: 10px;
    padding: 10px;
    min-width: 13rem;
    margin: 5vh;
    height: fit-content;
    text-decoration: none;


    &__item {
        color: $secondary-color;
        text-decoration: none;
        list-style: none;
    }

    &__btn {
        color: $secondary-color;
        border: 1px solid $tertiary-color;
        border-radius: 8px;
        padding: 8px;
        width: 6rem;
        text-align: center;
        background-color: $tertiary-color;
        margin: 10px;
    }
}

@media screen and (min-width: 768px) {
    .card {
        min-width: 17rem;
    }
}