@import "../../assets/styles/variables.scss";
@import "../../assets/styles/typography.scss";

.courses {
    background-color: $primary-color;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}