@import "../../assets/styles/variables.scss";
@import "../../assets/styles/typography.scss";

.courseCard {
  background-color: $primary-color;
  height: 100vh;
  padding: 10rem;
  display: flex;
  justify-content: center;
}
